MONGO_URL=MONGO_URL=mongodb+srv://Brainstorm0055:Atmos0055@cluster0.uniepir.mongodb.net/ai_builder
OPENAI_API_KEY=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
JWT_SECRET=123456
